.footer_container{
 background-color: #34404d;
 color: whitesmoke;
 padding: 30px 10px;
}
.footer_brand{
    flex-basis: 20%;
    padding-right: 20px;
    margin-top: 20px;
    align-items: center;
}
.footer_brand a{
    color: wheat;
    font-size: 20px;
    margin: 10px;
}
.site_footer_construction p{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    margin: 10px;
}
.construction_number{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.25;
}
.social_link{
    margin-top: 20px;
}
.social_link a{
    font-size: 25px;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    padding: 5px;
    width: 40px;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    margin-right: 8px;
}
.site_footer_menu{
    padding-right: 20px;
    margin-bottom: 0;
}
 .menu_item{
    list-style: none;
    margin-top: 20px;
    text-align: start;
}
.menu_item a{
    color: white;
}
.newsletter-callout {
    margin-top: 20px;
    padding: 10px;
}
.newsletter-callout .newsletter-callout-title{
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 15px;
}

.form_feild{
    margin-top: 10px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.form_feild .feild{
    height: 49px;
    width: 300px;
    border-radius: 25px 0 0 25px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.form_feild .btn{
    border-radius: 0 25px 25px 0;
    font-weight: 600;
    background-color: #a31e36;
    text-transform: uppercase;
    padding: 10px 20px;
}
.form_feild .btn a{
    color: whitesmoke;
}

@media screen and (max-width: 776px) {
     .menu_item{
        text-align: center;
    }
  }
